@page "/cronjobs"
@using KubeCronMonitor.Kubernetes;
@using KubeCronMonitor.Kubernetes.Extensions;
@using KubeCronMonitor.Kubernetes.Models;

@inject IKubeService kubeSerice;

<h3>KubeCronJobs</h3>

<PageTitle>CronJobs :)</PageTitle>

@if (crnJobItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Namespace</th>
                <th>Timing</th>
                <th>Last Run</th>
                <th>Avg Runtime (min)</th>
                <th>Success Count</th>
                <th>Fail Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in crnJobItems)
            {
                <tr>
                    <td>@forecast.CronJobName</td>
                    <td>@forecast.Namespace</td>
                    <td>@forecast.TimingRaw</td>
                    <td>@forecast.LastStartTime.ToDateFormat()</td>
                    <td>@forecast.AvgRunTimeMinutes</td>
                    <td>@forecast.SuccessCount</td>
                    <td>@forecast.FailureCount</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<KubeCronJobModel> crnJobItems;

    protected override async Task OnInitializedAsync()
    {
        crnJobItems = await kubeSerice.GetCronJobs("AdvancedAnalytic");
    }
}
