@page "/"

@inject NavigationManager Navigation
@using KubeLife.BlazorApp.Components
@using KubeLife.Domain.Models;
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager
@inject IJSRuntime jsRuntime

@using KubeLife.Domain;
@using KubeLife.Core.Extensions;
@using KubeLife.Kubernetes.Models;

@inject IKubernetesDomain domainService;



@if (crnJobItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th> </th>
                <th>Name (Namespace)</th>
                <th>Timing</th>
                <th>Last / Next Run(UTC)</th>
                <th>Avg (min)</th>
                <th>Success / Fail</th>
                <th>Past 10</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var crnJob in crnJobItems)
            {
                <tr>
                    <td>
                        @* <BuildImageShow BuildData="@crnJob.LastBuild" /> *@
                        <CronJobImageShow CronJobDetail=@crnJob />
                    </td>
                    <td>@crnJob.CronJobName (@crnJob.Namespace)</td>
                    <td>
                        <button class="btn btn-link" @onclick="() => NavigateToCronTimeView(crnJob.TimingRaw)"> @crnJob.TimingRaw</button>
                    </td>
                    <td>@crnJob.LastStartTimeLatest.ToDateFormat() / @crnJob.NextRunTime.ToDateFormat()</td>
                    <td>@crnJob.AvgRunTimeMinutes</td>
                    <td>@crnJob.SuccessCount / @crnJob.FailureCount</td>
                    <td>
                        <HistoryChartShow CronJobDetail=@crnJob />
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Operations">
                            @* <button class="btn btn-outline-primary" @onclick="() => TriggerBuild(crnJob.Namespace, crnJob.CronJobName)">
                                Build
                            </button> *@
                            <button class="btn btn-outline-danger" @onclick="() => TriggerJob(crnJob.Namespace, crnJob.CronJobName)">
                                Trigger
                            </button>

                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Logs
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li><a class="dropdown-item" href="#" @onclick="() => NavigateToLogView(crnJob.CronJobName, true)">Pods</a></li>
                                    <li><a class="dropdown-item" href="#" @onclick="() => NavigateToLogView(crnJob.CronJobName, false)">Last Build</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
