@page "/"

@inject NavigationManager Navigation
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager

@using KubeLife.Domain;
@using KubeLife.Core.Extensions;
@using KubeLife.Kubernetes.Models;

@inject IKubernetesDomain kubeSerice;

<h3>CronJobs (@LastUpdateTime)</h3>

@if (crnJobItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Namespace</th>
                <th>Timing</th>
                <th>Last Run</th>
                <th>Avg Runtime (min)</th>
                <th>Success Count</th>
                <th>Fail Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var crnJob in crnJobItems)
            {
                <tr>
                    <td>@crnJob.CronJobName</td>
                    <td>@crnJob.Namespace</td>
                    <td>@crnJob.TimingRaw</td>
                    <td>@crnJob.LastStartTime.ToDateFormat()</td>
                    <td>@crnJob.AvgRunTimeMinutes</td>
                    <td>@crnJob.SuccessCount</td>
                    <td>@crnJob.FailureCount</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => NavigateToLogView(crnJob.CronJobName)">
                            Log
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<KubeCronJobModel> crnJobItems;
    private DateTime LastUpdateTime = DateTime.Now;
    private System.Threading.Timer? timer;
    private const int refreshTimeMs = 10 * 1000;

    protected override async Task OnInitializedAsync()
    {
        await CallCronJobs();

        await CreateTimer();
    }

    private async Task CallCronJobs()
    {
        crnJobItems = await kubeSerice.GetCronJobs("AdvancedAnalytic");
        LastUpdateTime = DateTime.Now;
    }

    private async Task CreateTimer()
    {
        timer = new System.Threading.Timer(async (object? stateInfo) =>
        {
            await CallCronJobs();
            await InvokeAsync(() =>
            {
                this.StateHasChanged();
            });
        }, new System.Threading.AutoResetEvent(false), refreshTimeMs, refreshTimeMs);
    }

    private void NavigateToLogView(string cronJobName)
    {
        var queryParams = new Dictionary<string, string>
            {
                ["CronJobName"] = cronJobName
            };

        NavManager.NavigateTo(QueryHelpers.AddQueryString("LogViewer", queryParams));

        //Navigation.NavigateTo($"LogViewer");
        //Navigation.NavigateTo($"LogViewer/{cronJobName}");
    }
}
